.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 140px;
}
.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.nav-items > ul > li {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.body {
  margin: 10px;
}
.search {
  margin: 10px;
  padding: 10px;
}
.search > button {
  margin-left: 20px;
}
.res-card {
  width: 200px;

  padding: 5px;
  border-radius: 20px;
  box-shadow: 3px 3px rgb(240, 218, 218);
  margin: 10px;
  padding: 10px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-image {
  width: 100%;
  border-radius: 20px;
}
.res-card > h3 {
  margin: 10px 5px;
}
.res-card > h4 {
  margin: 20px 5px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  margin: 10px;
  padding: 10px;
}
.filter > button {
  padding: 10px;
  cursor: pointer;
}
